<% form_for @stamp do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :private %><br />
    <%= f.check_box :private %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
