<% title "Daily Stamp", false %>
<% stylesheet "home" %>

<%= image_tag("dailystamp_big.gif", :size => "599x157", :alt => "Daily Stamp", :id => "logo") %>

<div id="new_stamp">
  <h2>What do you want to do daily?</h2>

  <% form_for Stamp.new do |f| %>
    <%= f.error_messages %>
    <p><%= f.text_field :name, :size => 30 %> <%= f.submit "Get Started" %></p>
    <p><%= f.check_box :private %> <%= f.label :private, "Keep this stamp private" %></p>
  <% end %>

  <div id="suggestions">
    <h3>suggestions</h3>
    <ul>
      <li><a href="#">Inbox zero</a></li>
      <li><a href="#">Practice piano 30 minutes</a></li>
      <li><a href="#">Brush twice, floss once</a></li>
      <li><a href="#">Exercise 15 minutes</a></li>
      <li><a href="#">Be on time</a></li>
      <li><a href="#">Keep car clean</a></li>
    </ul>
    <p><%= link_to "more" %></p>
  </div>
</div>