<% title "Daily Stamp", false %>
<% stylesheet "home" %>
<% javascript "home" %>

<%= image_tag("dailystamp_big.gif", :size => "599x157", :alt => "Daily Stamp", :id => "logo") %>

<div id="side">
  <div id="screencast">
    <a href="http://media.railscasts.com/videos/dailystamp.mov"><%= image_tag("screencast.jpg", :size => "185x238") %></a>
  </div>
  <div id="highlights">
    <h4>highlights</h4>
    <% for stamp in Stamp.non_private.highlights.all(:include => :user) %>
      <div class="stamp">
        <div class="stamper"><%= link_to image_tag("stamper/#{h(stamp.color)}/tiny.png", :size => "23x30", :alt => h(stamp.name)), stamp %></div>
        <div class="stamp_details">
          <%= link_to h(truncate(stamp.name, :length => 25)), stamp %><br />
          <span class="score"><%= stamp.score %> points by <%= h(stamp.user.display_name) if stamp.user %></span>
        </div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>

<div id="new_stamp">
  <h2>What do you want to do daily?</h2>

  <% form_for @stamp do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :color %>
    <p><%= f.text_field :name, :size => 30 %> <%= f.submit "Get Started" %></p>
    <p><%= f.check_box :private %> <%= f.label :private, "Keep this private" %></p>
  <% end %>

  <div id="suggestions">
    <h3>suggestions</h3>
    <ul id="suggestions_1">
      <li><a href="#">Inbox zero</a></li>
      <li><a href="#">Practice piano 30 minutes</a></li>
      <li><a href="#">Brush twice, floss once</a></li>
      <li><a href="#">Exercise 15 minutes</a></li>
      <li><a href="#">Be on time</a></li>
      <li><a href="#">Keep car clean</a></li>
    </ul>
    <ul id="suggestions_2" style="display: none">
      <li><a href="#">Devotions</a></li>
      <li><a href="#">15 pushups</a></li>
      <li><a href="#">Don't smoke</a></li>
      <li><a href="#">Pick up room</a></li>
      <li><a href="#">Video games less than 2 hours</a></li>
      <li><a href="#">Write in journal</a></li>
    </ul>
    <ul id="suggestions_3" style="display: none">
      <li><a href="#">Eat less than half dessert</a></li>
      <li><a href="#">Draw a quick sketch</a></li>
      <li><a href="#">Write 5 pages</a></li>
      <li><a href="#">Dishes not in sink</a></li>
      <li><a href="#">7 hours of sleep</a></li>
      <li><a href="#">Jog</a></li>
    </ul>
    <p><a href="#" class="more">more</a></p>
  </div>
</div>
