<% title "Stamp" %>
<% stylesheet "calendar" %>
<% javascript "jquery-1.3.2.min", "stamp" %>
<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>

<p>
  <strong>User:</strong>
  <%=h @stamp.user.username if @stamp.user %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @stamp.name %>
</p>
<p>
  <strong>Private:</strong>
  <%=h @stamp.private %>
</p>

<p>
  <%= link_to "Edit", edit_stamp_path(@stamp) %> |
  <%= link_to "Destroy", @stamp, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stamps_path %>
</p>

<div id="calendar">
  <%= render 'calendar' %>
</div>
