<% title "Stamp" %>
<% stylesheet "calendar" %>
<% javascript "jquery-1.3.2.min", "stamp" %>
<% content_for :head do %>
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
<% end %>

<p>
  <strong>User:</strong>
  <%=h @stamp.user.username if @stamp.user %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @stamp.name %>
</p>
<p>
  <strong>Private:</strong>
  <%=h @stamp.private %>
</p>

<p>
  <%= link_to "Edit", edit_stamp_path(@stamp) %> |
  <%= link_to "Destroy", @stamp, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stamps_path %>
</p>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  </h2>
  <% calendar_for(@stamp.marks, :year => @date.year, :month => @date.month) do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day(:day_method => :marked_on, :id => "day_%Y%m%d") do |day, marks| %>
      <% if day.month == @date.month %>
        <% if marks.first %>
          <%= mark_image(marks.first) %>
          <%= link_to "", marks.first, :class => "mark_link" %>
        <% else %>
          <%= link_to "", marks_path(:stamp_id => @stamp, :date => day.to_s("%Y-%m-%d")), :class => "mark_link" %>
        <% end %>
        <div class="points"><%= points @stamp.day_points(day) %></div>
        <%= day.day %>
      <% end %>
    <% end %>
  <% end %>
</div>
