<% title "Stamp" %>
<% stylesheet "calendar" %>

<p>
  <strong>User:</strong>
  <%=h @stamp.user.username if @stamp.user %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @stamp.name %>
</p>
<p>
  <strong>Private:</strong>
  <%=h @stamp.private %>
</p>

<p>
  <%= link_to "Edit", edit_stamp_path(@stamp) %> |
  <%= link_to "Destroy", @stamp, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", stamps_path %>
</p>

<div id="calendar">
  <h2 id="month">
    <%=h Date.today.strftime("%B %Y") %>
  </h2>
  <% calendar_for([]) do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <% calendar.day do |day, item| %>
      <%= day.day %>
    <% end %>
  <% end %>
</div>
