<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div class="inner">
        <div id="navigation">
          <%- if logged_in? -%>
            <%- if current_user.guest? -%>
              <div class="message">
                <strong>You are currently logged in as a guest.</strong></span><br />
              Please <%= link_to "setup your account", edit_user_path(:current) %> to save your <%= link_to_if(current_user.current_stamp && !current_page?(current_user.current_stamp), "stamps", current_user.current_stamp) %>.
              </div>
            <%- else -%>
              <div class="message">Welcome <%=h current_user.username %>!</div>
              <div class="links">
                <%= link_to "Your Stamps", current_user.current_stamp %> |
                <%= link_to "Watched Stamps", favorites_path %> |
                <%= link_to "Update Profile", edit_user_path(:current) %> |
                <%= link_to "Log out", logout_path %>
              </div>
            <%- end -%>
          <%- else -%>
            <div class="message">
              Already have an account? Then
              <%= link_to "log in", login_path %>.
            </div>
          <%- end -%>
        </div>
        <%= link_to image_tag("dailystamp_small.png", :size => "221x45", :alt => "Daily Stamp"), home_path %>
      </div>
    </div>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
      
      <div class="clear"></div>
      <div id="footer">
        <p>This site was created by <%= link_to "Ryan Bates", "http://railscasts.com" %> for <%= link_to "Rails Rumble 2009", "http://r09.railsrumble.com/" %></p>
      </div>
    </div>
  </body>
</html>
